nav {
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
ul {
    padding: 0;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  width: 40%;
  font-size: 1.5rem;
}
.navButton{
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  width: auto;
}